<link rel="stylesheet" href="../css/MyAccount.css">

<div class="container">
  <div class="dashboard-wrapper">
    <!-- Main Content -->
    <div class="user-content">
      <h2 class="main-title">My Account</h2>
      <!-- Contact Details -->
      <h4 class="section-title">Contact Details</h4>
      <form>
        <div class="form-wrapper">
          <div class="form-elem">
            <label class="form-label">Your Name</label>
            <div class="form-input-wrapper">
              <input type="text" class="form-control" value="Richard Doe" readonly />
              <button type="button" class="form-change-btn">Change</button>
            </div>
          </div>
          <div class="form-elem">
            <label class="form-label">Email Address</label>
            <div class="form-input-wrapper">
              <input type="email" class="form-control" value="richard@gmail.com" readonly />
              <button type="button" class="form-change-btn">Change</button>
            </div>
          </div>
          <div class="form-elem">
            <label class="form-label">Phone Number</label>
            <div class="form-input-wrapper">
              <input type="text" class="form-control" value="+9686 6864 3434" readonly />
              <button type="button" class="form-change-btn">Change</button>
            </div>
          </div>
          <div class="form-elem">
            <label class="form-label">Password</label>
            <div class="form-input-wrapper">
              <input type="password" class="form-control" value="Pass Key" readonly />
              <button type="button" class="form-change-btn">Change</button>
            </div>
          </div>
        </div>
      </form>
      
      </div>
    </div>
  </div>
</div>

